* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background: #f5f7fa;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Montserrat;
}

.list {
  list-style: none;
}

.wrapper {
  background: white;
  display: flex;
  max-width: 1200px;
  margin: o auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: rgb(192, 189, 189);
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.my-photo {
  display: flex;
  border-radius: 10%;
  width: 308px;
  align-content: center;
  box-shadow: rgb(192, 189, 189);
}

.about-me-container {
  padding-top: 90px;
  padding-bottom: 110px;
  padding-right: 90px;
  padding-left: 90px;
}
.contacts-container {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  margin-bottom: 20px;
}

.mobil {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #727881;
}

.mail {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #727881;
}

.contact-letter {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  margin-right: 10px;
}

.tech-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  margin-bottom: 20px;
}

.tech-skills-container {
  margin-left: 60px;
  margin-right: 40px;
  margin-top: 55px;
}

.tech-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #4d4c4b;
  margin: 0;
}

.t-skills-tex {
  display: flex;
  justify-items: self-end;
  color: white;
}

.soft-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  margin-bottom: 20px;
}

.soft-skills-container {
  margin-left: 60px;
  margin-right: 40px;
  margin-top: 55px;
}

.s-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #4d4c4b;
  margin: 0;
}

.s-skills-tex {
  display: flex;
  color: white;
}

.pozice {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
  margin-bottom: 25px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  width: 413px;
}

.info-container {
  margin-bottom: 64px;
}
.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 12px;
}
.projects-link {
  color: #595959;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.tech-name {
  color: #595959;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.dots {
  width: 318px;
  height: 1px;
  color: #a8a8a8;
  font-weight: 100;
}
.projects-item {
  font-weight: 700;
  margin-left: 18px;
}
.project-contajner {
  margin-bottom: 60px;
}
.jobs-item {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 18px;
}
.prof-color {
  color: #ff9046;
  margin-top: 18px;
  font-weight: 700;
}
.prof-period {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #a8a8a8;
  margin-bottom: 14px;
}
.prof-stick {
  color: black;
}
.prof-dutties {
  margin-top: 14px;
  margin-bottom: 30px;
}
.prof-dutties-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.education-main {
  margin-top: 55px;
}

.studies-item {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 12px;
}

.contacts__icon {
  display: flex;
  margin-right: 10px;
  fill: white;
}

.contacts-item {
  margin-top: 10px;
}

.contacts__icon-star {
  display: inline;

  justify-content: center;
  margin-right: 5px;
  fill: white;
}

.skill-name {
  display: inline-block;
  justify-content: center;
  font-weight: 900;
  width: 100px;
}

.contacts__icon-check {
  display: flex;
  margin-right: 5px;
  fill: white;
}

.text-skills {
  display: inline;
  align-content: center;
  color: white;
}
